@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218 100% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 210 98% 55%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 89.8%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 215 27.9% 89.8%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 285 9% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 210 98% 55%;
    --radius: 0.75rem;
    --chart-1: 210 98% 73%;
    --chart-2: 285 9% 63%;
    --chart-3: 30 90% 65%;
    --chart-4: 150 70% 50%;
    --chart-5: 0 84% 60%;
    --chart-6: 45 90% 55%;
    --chart-7: 320 80% 65%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 98% 73%;
    --primary-foreground: 210 98% 15%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 285 12% 75%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 210 98% 73%;
    --chart-1: 210 98% 73%;
    --chart-2: 285 12% 75%;
    --chart-3: 30 90% 65%;
    --chart-4: 150 70% 50%;
    --chart-5: 0 70% 55%;
    --chart-6: 45 90% 60%;
    --chart-7: 320 70% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
